.profile-card {
	padding: 32px 24px;
	border: 1px solid var(--light-color);

	display: grid; align-items: center;
	grid-template-columns: repeat(2, 1fr) 200px 1fr;
	grid-gap: 32px;
}

.avatar-name {
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-gap: 20px; align-items: center;
}

.profile-card__avatar {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 50%;
}

.profile-card__name {
	display: flex; flex-direction: column; gap: 8px;
}

.profile-card__desc {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}


.profile-card__tags {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	height: min-content;
}
