
@font-face {
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	font-family: 'JetBrains Mono';
	src: url('/public/assets/fonts/JetBrainsMono-Thin.woff2');
}

@font-face {
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	font-family: 'JetBrains Mono';
	src: url('/public/assets/fonts/JetBrainsMono-Medium.woff2');
}

@font-face {
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	font-family: 'JetBrains Mono';
	src: url('/public/assets/fonts/JetBrainsMono-SemiBold.woff2');
}

@font-face {
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	font-family: 'JetBrains Mono';
	src: url('/public/assets/fonts/JetBrainsMono-Bold.woff2');
}


