@import "fonts";
@import "margins";

:root {
	--dark-color: #000000;
	--light-color: #FFFFFF;
	--primary-color: #AE7AFF;
	--gray-color: #5F6460;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "JetBrains Mono", sans-serif;
	color: var(--light-color);
	background-color: var(--dark-color);
	background-image: url("/assets/imgs/bg1920.jpg");
}

.skill-tag {
	display: inline;
	height: 24px;
	font-size: 12px;
	padding: 0 8px;
	font-weight: 700;
	line-height: 22px;
	border-radius: 4px;
	border: 1px solid var(--light-color);
}

.btn {
	cursor: pointer;
	border: none; color: var(--dark-color); width: 100%;
	background-color: var(--primary-color); line-height: 24px;
	font-size: 14px; font-weight: 700; padding: 10px 20px;
}

.h6 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
}

.h1 {
	font-size: 48px;
	line-height: 56px;
	font-weight: 800;
}

.subtitle {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.tt-control-label {
	display: block;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
}

.tt-input {
	display: block;
	width: 100%;
	margin-top: 8px;
	color: var(--light-color);
	font-size: 14px;
	outline: none;
	font-weight: 400;
	line-height: 21px;
	border: 1px solid var(--light-color);
	border-radius: 4px; padding: 12px 20px;
	background-color: var(--dark-color);
	font-family: "JetBrains Mono", sans-serif;
}
