@import "fonts";

:root {
	--dark-color: #000000;
	--light-color: #FFFFFF;
	--primary-color: #AE7AFF;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "JetBrains Mono", sans-serif;
	color: var(--light-color);
	background-color: var(--dark-color);
}

.skill-tag {
	display: inline;
	height: 24px;
	font-size: 12px;
	padding: 0 8px;
	font-weight: 700;
	line-height: 22px;
	border-radius: 4px;
	border: 1px solid var(--light-color);
}

.btn {
	border: none; color: var(--dark-color);
	background-color: var(--primary-color); line-height: 24px;
	font-size: 14px; font-weight: 700; padding: 10px 20px;
}

.h6 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
}

.subtitle {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}
